Repository mstniy/computed.dart: changes, and which Codecov flags are due for each by the changed paths.
All: computed, computed_collections

CI: Run on both computed and computed_collections
  .github/workflows/test_main.yml
  .github/workflows/tests.yml
Due: none

ci: Separate workflow files for computed & computed_collections Pass secrets to the reusable workflow
  .github/workflows/tests_cc.yml
  .github/workflows/tests_computed.yml
Due: none

Rename stages, repo README
  .github/workflows/tests_cc.yml
  .github/workflows/tests_computed.yml
  README.md
  packages/computed/README.md
Due: computed

computed & computed_collections: Updated the repo urls
  packages/computed/pubspec.yaml
  packages/computed_collections/pubspec.yaml
Due: computed, computed_collections

ci: Fix typo
  .github/workflows/tests_computed.yml
Due: none

computed: Remove dead code
  packages/computed/lib/src/computed.dart
Due: computed

computed: New tests for ComputationCache
  packages/computed/test/utils/computation_cache_test.dart
Due: computed

ci: Fix codecov per-component coverage
  .github/workflows/test_main.yml
Due: none

Revert "ci: Fix codecov per-component coverage"
  .github/workflows/test_main.yml
Due: none

computed_collections: flat: Fixed a bug where subscribing only to .changes was broken Also test that exceptions are propagated properly
  packages/computed_collections/lib/src/flat.dart
  packages/computed_collections/test/flat_test.dart
Due: computed_collections

computed: Exceptions now properly implement operator== and hashCode Refactored _ValueOrException into a sealed type
  packages/computed/lib/computed.dart
  packages/computed/lib/src/computed.dart
  packages/computed/lib/src/utils/value_or_exception.dart
Due: computed

computed: Small refactor
  packages/computed/lib/src/computed.dart
  packages/computed/lib/src/utils/value_or_exception.dart
Due: computed

computed: dispose also runs when the value of a computation changes
  packages/computed/lib/src/computed.dart
  packages/computed/test/computed_test.dart
Due: computed

computed: New tests for exception equalities and hash codes
  packages/computed/test/misc_test.dart
Due: computed

computed: Removed dead branch
  packages/computed/lib/src/computed.dart
Due: computed

computed_collections: Fix flat for the new dispose semantics Use the local computed, instead of the published version
  packages/computed_collections/lib/src/flat.dart
  packages/computed_collections/pubspec.lock
  packages/computed_collections/pubspec.yaml
Due: computed_collections

computed_collections: Disable publishing
  packages/computed_collections/pubspec.yaml
Due: computed_collections

computed_collections: mapValuesComputed: New test
  packages/computed_collections/test/map_values_computed_test.dart
Due: computed_collections

computed_collections: Cleanup
  packages/computed_collections/lib/src/map_values_computed.dart
Due: computed_collections

computed_collections: Cleanup
  packages/computed_collections/lib/src/utils/snapshot_computation.dart
Due: computed_collections

computed_collections: CSTracker: Refactor
  packages/computed_collections/lib/src/utils/cs_tracker.dart
Due: computed_collections

computed: Documented ComputationCache
  packages/computed/lib/utils/computation_cache.dart
Due: computed

computed: Improve dart docs
  .gitignore
  packages/computed/lib/computed.dart
  packages/computed/lib/stream_extension.dart
Due: computed

computed: ValueStream: Use the util ValueOrException
  packages/computed/lib/src/computed.dart
  packages/computed/lib/src/utils/value_or_exception.dart
  packages/computed/lib/utils/streams.dart
Due: computed

computed: Improve docs
  packages/computed/lib/computed.dart
  packages/computed/lib/stream_extension.dart
  packages/computed/lib/utils/computation_cache.dart
  packages/computed/lib/utils/streams.dart
Due: computed

computed: Doc
  packages/computed/lib/computed.dart
Due: computed

computed_collections: CSTracker: Simplify
  packages/computed_collections/lib/src/utils/cs_tracker.dart
Due: computed_collections

computed_collections: Added an example
  packages/computed_collections/example/example.dart
Due: computed_collections

computed_collections: Dart docs
  packages/computed_collections/lib/change_event.dart
  packages/computed_collections/lib/computedmap.dart
  packages/computed_collections/lib/src/cs_with_prev.dart
  packages/computed_collections/lib/src/utils/snapshot_computation.dart
  packages/computed_collections/lib/src/utils/with_change.dart
Due: computed_collections

Updated README for 0.5
  packages/computed/README.md
  packages/computed/lib/utils/README.md
Due: computed

computed_collections: Added a changelog and a readme
  packages/computed_collections/CHANGELOG.md
  packages/computed_collections/README.md
  packages/computed_collections/lib/computedmap.dart
Due: computed_collections

computed & computed_collections : Improved the readme
  packages/computed/README.md
  packages/computed_collections/README.md
Due: computed, computed_collections

computed_collections: Added the Collatz example
  packages/computed_collections/example/collatz.dart
Due: computed_collections

computed_collections: Stateful change streams
  packages/computed_collections/README.md
  packages/computed_collections/example/cs_with_prev.dart
Due: computed_collections

computed_collections: ComputedMap.fromPiecewise
  packages/computed_collections/lib/computedmap.dart
  packages/computed_collections/lib/src/piecewise.dart
  packages/computed_collections/test/piecewise_test.dart
Due: computed_collections

computed_collection: Collatz example: Use fromPiecewise to be memory-optimal
  packages/computed_collections/README.md
  packages/computed_collections/example/collatz.dart
Due: computed_collections

computed_collections: fromPiecewiseComputed
  packages/computed_collections/lib/computedmap.dart
  packages/computed_collections/lib/src/piecewise.dart
  packages/computed_collections/test/piecewise_test.dart
Due: computed_collections

computed_collections: Added an index of the factories to the readme
  packages/computed_collections/README.md
Due: computed_collections

computed_collections: Fix typos in the README
  packages/computed_collections/README.md
Due: computed_collections

Path conditions:
  computed: any of: packages/computed/**
  computed_collections: any of: packages/computed_collections/**
